<h1 class = "white-text"> New User </h1>
<input class = "white-text" type = "text" ng-model = "newUser.firstName" placeholder = "first name"/>
<input class = "white-text" tyfpe = "text" ng-model = "newUser.lastName" placeholder = "last name" />
<input class = "white-text" type = "text" ng-model = "newUser.userName" placeholder = "username" />
<input class = "white-text" type = "text" ng-model = "newUser.password" placeholder = "password" />
<input class = "white-text" type = "text" ng-model = "newUser.confPassword" placeholder = "confirm password" />
<button class = "blue white-text" ng-click = "user.createUser(newUser)"> Create </button>
